<html>
<header>
	<meta charset="utf-8">
	<script src="js/jquery-2.1.4.min.js"></script>
</header>
<body>
<div>
	<a href=".">Home</a><br/>
	Queries look like: python and (c++ or "big data")<br/>
	<form action="" method="get">
		What: <input type="text" name="what" value="{{.What}}">
		<input hidden="true" name="size" value="{{.Size}}">
		<input type="submit" value="Submit">
	</form>
	<div>
		<img src="{{.URL}}" id="map" style="cursor: pointer"/>
	</div>
	<script>
$(function() {
    $("#map").click(function(e) {
	  var x0 = {{.X0}};
	  var y0 = {{.Y0}};
	  var dx = {{.DX}};
	  var dy = {{.DY}};
      var offset = $(this).offset();
      var relX = (e.pageX - offset.left);
      var relY = (e.pageY - offset.top);
	  var x = relX*dx + x0;
	  var y = relY*dy + y0;
	  var where = encodeURIComponent("wgs84:" + y + "," + x);
	  var what = encodeURIComponent("{{.What}}");
	  var url = "search?where=" + where + "&what=" + what;
	  window.location = url
    });
});
	</script>
</div>
</body>
</html>
