<html>
<header>
	<meta charset="utf-8">
</header>
<body>
<div>
	<form action="" method="get">
		What: <input type="text" name="what" value="{{.What}}">
		Where: <input type="text" name="where" value="{{.Where}}">
		<input type="submit" value="Submit">
	</form> 
	<div>{{.Displayed}}/{{.Total}} offers, spatial: {{.SpatialDuration}}, text: {{.TextDuration}}, rendering: {{.RenderingDuration}}<br/>
	</div>
	{{range .Offers}}
	<div>
		<div>{{.Date}} {{.Account}} ({{.Location}}) <a href="{{.URL}}">{{.Title}}</a> {{.Salary}}</div>
	</div>
	{{end}}
</div>
</body>
</html>
